<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404错误提示</title>
</head>
<style>
    body{
      margin:0
      background-color:#14e6f0;
  }
  #all{
    margin:0 auto;
    width:1000px;
    height:800px;
    border:2px solid white;
<!--    display:flex;-->
<!--    justify-content: center;-->
<!--    align-items: center;-->
  }
  #bigerror{
    font-size:25px;
    font-weight:650;
    color:red;
  }
  p,li{
    font-size:18px;
    font-weight:580;
  }
  ul{
    text-decoration:none;
  }
</style>
<body>
    <div id="all">
    <p id="bigerror">出现了前端网页搜寻错误！</p>
    <p>我能够理解您的好奇心，但是你当前所访问的地址我们还未建设噢</p>
    </div>
</body>
</html>